<app-container>
    <button pButton type="button" label="Nova Locação" routerLink="/locacao/new"></button>
    <div class="search">
      <label for="Título">Título</label>
      <input pInputText id="Título" [formControl]="titulo" />

      <label for="Categoria">Categoria</label>
      <input pInputText id="Categoria" [formControl]="categoria" />

      <label for="Ator">Ator</label>
      <input pInputText id="Ator" [formControl]="ator" />
      <button pButton class="p-button-success" type="button" label="Pesquisar" (click)="filtrar()"></button>
    </div>
    <p-table [value]="locacoes">
        <ng-template pTemplate="header">
          <tr>
            <th>Cliente</th>
            <th>Item</th>
            <th>Data locação</th>
            <th>Devolução prevista</th>
            <th>Devolução efetiva</th>
            <th>Valor cobrado</th>
            <th>Multa cobrada</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-locacao>
          <tr>
            <td>{{ locacao.cliente.nome }}</td>
            <td>{{ locacao.item.num_serie }}</td>
            <td>{{ locacao.dt_locacao | date:'shortDate' }}</td>
            <td>{{locacao.dt_devolucao_prevista | date:'shortDate' }}</td>
            <td>{{locacao.dt_devolucao_efetiva | date:'shortDate' }}</td>
            <td>{{locacao.valorCobrado}}</td>
            <td>{{locacao.multaCobrada}}</td>
            <td>
              <button *ngIf="!locacao.dt_devolucao_efetiva" pButton type="button" label="Devolver" class="p-button-danger" (click)="devolver(locacao.id)"></button>
            </td>
          </tr>
        </ng-template>
    </p-table>
</app-container>