<form [formGroup]="form.group" (ngSubmit)="form.submit()">
    <ng-container *ngFor="let field of form.fields" >
        <ng-container [ngSwitch]="field.type">
            <ng-container *ngSwitchCase="'text'">
                <label htmlFor="{{field.name}}">{{field.label ? field.label : field.name.charAt(0).toUpperCase() + field.name.slice(1)}}</label>
                <input id="{{field.name}}" type="field.type" pInputText formControlName="{{field.name}}"/>
            </ng-container>

            <ng-container *ngSwitchCase="'integer'">
                <label htmlFor="{{field.name}}">{{field.label ? field.label : field.name.charAt(0).toUpperCase() + field.name.slice(1)}}</label>
                <p-inputNumber id="{{field.name}}" inputId="integeronly" formControlName="{{field.name}}"> </p-inputNumber>
            </ng-container>

            <ng-container *ngSwitchCase="'select'">
                <label htmlFor="{{field.name}}">{{field.label ? field.label : field.name.charAt(0).toUpperCase() + field.name.slice(1)}}</label>
                <p-dropdown id="{{field.name}}" optionValue="{{field.options_value}}" optionLabel="{{field.options_label}}" [options]="field.options" formControlName="{{field.name}}" [style]="{'width':'100%'}"></p-dropdown>
            </ng-container>

            <ng-container *ngSwitchCase="'date'">
                <label htmlFor="{{field.name}}">{{field.label ? field.label : field.name.charAt(0).toUpperCase() + field.name.slice(1)}}</label>
                <p-calendar dateFormat="dd/mm/yy" id="{{field.name}}" formControlName="{{field.name}}"></p-calendar>
            </ng-container>

            <ng-container *ngSwitchCase="'multiselect'">
                <label htmlFor="{{field.name}}">{{field.label ? field.label : field.name.charAt(0).toUpperCase() + field.name.slice(1)}}</label>
                <p-multiSelect [options]="field.options" formControlName="{{field.name}}" optionLabel="{{field.options_label}}" optionValue="{{field.options_value}}" [style]="{'width':'100%'}"></p-multiSelect>
            </ng-container>
            
            <ng-container *ngSwitchDefault>
                <label htmlFor="{{field.name}}">{{field.label ? field.label : field.name.charAt(0).toUpperCase() + field.name.slice(1)}}</label>
                <input id="{{field.name}}" type="field.type" pInputText formControlName="{{field.name}}"/>
            </ng-container>
        </ng-container>
    </ng-container>
    <div class="actions">
        <p-button *ngFor="let action of form.actions" type="{{action.type}}" label="{{action.label}}" (onClick)="action.action()"></p-button>
    </div>
</form>
